<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/gallery-php-crud/assets/css/w3.css">
    <link rel="stylesheet" href="http://localhost/gallery-php-crud/assets/css/style.css">
    <title>Daashboard</title>
</head>

<body>
    <main class="">
        <header class="w3-container w3-padding  w3-card w3-blue">      
                <h1 class="w3-center">Dashboard</h1>
        </header>

        <section>
            <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
                <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
                <a href="http://localhost/gallery-php-crud/" class="w3-bar-item w3-button">Home</a>
                <a href="http://localhost/gallery-php-crud/Cadastro/galeria" class="w3-bar-item w3-button">Galeria</a>
              </div>
              
              <div class="w3-main" style="margin-left:200px">
                <div class="w3-teal">
                    <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
                    <div class="w3-container">
                    <h1>Imagens cadastradas </h1>
                    </div>
                </div>
                
                <div class="w3-container w3-margin-top">   
                      
                    <table class="w3-table w3-striped w3-bordered">
                     
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Path da imagem</th>
                            <th>Operações</th>
                        </tr>
                        {% for registro in galeria %}
                        <tr>
                            <td id="id">{{registro.id}}</td>
                            <td id="nome">{{registro.nome_img}}</td>
                            <td id="path">C:\fakepath\Files\{{registro.path}}</td>
                            <td>
                                <button onclick="document.getElementById('editModal').style.display='block'" class="w3-button w3-blue w3-round w3-hover-orange">Editar</button>
                                <button onclick="document.getElementById('deleteModal').style.display='block'" class="w3-button w3-red w3-round w3-hover-amber">Deletar</button>
                            </td>
                        </tr>
                        {% endfor %}
                      
                    </table>
                    <div class="w3-center w3-margin-top">
                        <div class="w3-bar w3-border w3-text-white w3-teal w3-round">
                        {% for i in 1..totalP %}
                          <a class="w3-button " href="http://localhost/gallery-php-crud/Editar/index/?page={{ i }}" >{{ i }}</a>
                        {% endfor %}
                        </div>
                    </div>      
                </div>
                <div class="w3-container w3-margin-left">
                    <!-- <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Open Modal</button> -->

                    <div id="deleteModal" class="w3-modal">
                      <div class="w3-modal-content w3-card-4">
                        <header class="w3-container w3-teal"> 
                          <span onclick="document.getElementById('deleteModal').style.display='none'" 
                          class="w3-button w3-display-topright">&times;</span>
                          <h2>Certeza que deseja deletar ?</h2>
                        </header>
                        <div class="w3-container">
                          <p>Some text..</p>
                          <p>Some text..</p>
                        </div>
                        <footer class="w3-container w3-teal">
                          <p>Modal Footer</p>
                        </footer>
                      </div>
                    </div>
                    <div id="editModal" class="w3-modal">
                        <div class="w3-modal-content w3-card-4">
                          <header class="w3-container w3-teal"> 
                            <span onclick="document.getElementById('editModal').style.display='none'" 
                            class="w3-button w3-display-topright">&times;</span>
                            <h2>Editar</h2>
                          </header>
                          <div class="w3-container">
                            <form id="editForm">
                            <label for="nome">Nome</label>
                                <input id="nome" type="text" autocomplete="off" class="w3-form">
                            </form>
                          </div>
                          <footer class="w3-container w3-teal">
                            <p>Modal Footer</p>
                          </footer>
                        </div>
                      </div>
                  </div>
              </div>


        </section>
        <script src="http://localhost/gallery-php-crud/assets/js/Jquery.js"></script>
        <script src="http://localhost/gallery-php-crud/assets/js/main.js"></script>
    </main>
</body>

</html>