<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/gallery-php-crud/assets/css/w3.css">
    <link rel="stylesheet" href="http://localhost/gallery-php-crud/assets/css/style.css">
    <title>Galeria</title>
</head>

<body>
    <main class="w3-monospace">
        <section>
            <div class="w3-container w3-center w3-margin-bottom w3-card w3-black">
                <h3 class="w3-monospace">Todas as imagens</h3>
                <a  href="http://localhost/gallery-php-crud/" class="w3-border-top w3-border-blue w3-button w3-hover-blue w3-black w3-round">Cadastrar
                    Imagem</a>
            </div>
        </section>

        <section>
         
            <div class="efeito">
                <div class="row w3-text-black">    
                    {% for img in galeria %}
                        <input readonly type="hidden" value="{{img.id}}">
                        <img id="efeito" src="/gallery-php-crud/Files/{{img.path}}" class="box-img w3-round w3-card-4">
                       <span class="w3-padding w3-red w3-round">{{img.nome_img}}</span>     
                    {% endfor %}
                </div>
            </div>   
            <div class="w3-center">
                <div class="w3-bar w3-border w3-text-white w3-black w3-round">
                  <a href="#" class="w3-bar-item w3-button">&laquo;</a>
                  <a href="http://localhost/gallery-php-crud/Cadastro/galeria/1" class="w3-button">1</a>
                  <a href="http://localhost/gallery-php-crud/Cadastro/galeria/2" class="w3-button">2</a>
                  <a href="http://localhost/gallery-php-crud/Cadastro/galeria/3" class="w3-button">3</a>
                  <a href="http://localhost/gallery-php-crud/Cadastro/galeria/4" class="w3-button">4</a>
                  <a href="#" class="w3-button">&raquo;</a>
                </div>
                </div>      
        </section>
        <script src="http://localhost/gallery-php-crud/assets/js/Jquery.js"></script>
    </main>
</body>
    <!--           <div class="w3-margin-bottom">
                        <a href="" class="w3-button w3-red w3-round w3-hover-orange">Deletar</a>
                        <a href="" class="w3-button w3-yellow w3-round w3-hover-amber">Editar</a>
                    </div> 
    -->
</html>