* {
    margin: 0;
    padding: 0;
}
.segoe-text{
    font-family: "Times New Roman", Times, serif;
}
#Erro {
    display: none;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box-img {
    width: 80%;
}
.row > img, .row > span {
    margin: 5px;
    margin-bottom: 20px;
}
.box-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-upd-img {
    width: 80%;
}
.efeito > img {
    margin: 5px;
}
@media screen and (min-width: 900px) {
    .box {
        margin: 0 auto;
        width: 30%;
    }
    .name-box {
        text-align: center;
    }
    .box-img {
        width: 25%;
    }
    .box-upd-img {
        width: 20%;
    }
    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

}
